## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-01 15:35:57,3.07,172.79,81.77,76,62,9.73,broken clouds
1,1,Vaini,TO,2020-11-01 15:35:58,-21.20,-175.20,73.40,88,75,6.93,broken clouds
2,2,Yellowknife,CA,2020-11-01 15:35:58,62.46,-114.35,16.00,85,75,9.17,light snow
3,3,San Andres,CO,2020-11-01 15:35:58,12.58,-81.70,80.60,88,75,4.70,light intensity drizzle
4,4,Santa Maria Da Vitoria,BR,2020-11-01 15:35:58,-13.39,-44.19,86.50,51,100,4.65,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-01 15:35:57,3.07,172.79,81.77,76,62,9.73,broken clouds
1,1,Vaini,TO,2020-11-01 15:35:58,-21.20,-175.20,73.40,88,75,6.93,broken clouds
3,3,San Andres,CO,2020-11-01 15:35:58,12.58,-81.70,80.60,88,75,4.70,light intensity drizzle
4,4,Santa Maria Da Vitoria,BR,2020-11-01 15:35:58,-13.39,-44.19,86.50,51,100,4.65,overcast clouds
5,5,Hilo,US,2020-11-01 15:32:56,19.73,-155.09,71.60,73,75,5.82,broken clouds
6,6,Matara,LK,2020-11-01 15:35:58,5.95,80.54,78.48,83,10,6.87,clear sky
12,12,Rikitea,PF,2020-11-01 15:35:59,-23.12,-134.97,74.86,83,44,12.86,light rain
14,14,Iquitos,PE,2020-11-01 15:34:18,-3.75,-73.25,80.60,74,75,4.70,broken clouds
15,15,Bac Lieu,VN,2020-11-01 15:36:00,9.29,105.72,79.20,85,100,7.29,overcast clouds
16,16,Kalmunai,LK,2020-11-01 15:31:41,7.42,81.82,81.72,72,55,4.45,broken clouds

In [11]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                852
City                   852
Country                848
Date                   852
Lat                    852
Lng                    852
Max Temp               852
Humidity               852
Cloudiness             852
Wind Speed             852
Current Description    852
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-01 15:35:57,3.07,172.79,81.77,76,62,9.73,broken clouds
1,1,Vaini,TO,2020-11-01 15:35:58,-21.20,-175.20,73.40,88,75,6.93,broken clouds
3,3,San Andres,CO,2020-11-01 15:35:58,12.58,-81.70,80.60,88,75,4.70,light intensity drizzle
4,4,Santa Maria Da Vitoria,BR,2020-11-01 15:35:58,-13.39,-44.19,86.50,51,100,4.65,overcast clouds
5,5,Hilo,US,2020-11-01 15:32:56,19.73,-155.09,71.60,73,75,5.82,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
2097,2097,Saint Simons,US,2020-11-01 15:37:21,31.14,-81.39,75.20,88,75,3.36,broken clouds
2101,2101,Vieques,PR,2020-11-01 15:41:23,18.43,-65.83,87.80,62,40,11.41,haze
2102,2102,Denpasar,ID,2020-11-01 15:41:23,-8.65,115.22,78.33,83,38,5.19,scattered clouds
2108,2108,Holalkere,IN,2020-11-01 15:41:24,14.03,76.18,74.68,63,41,6.24,scattered clouds
2110,2110,Banting,MY,2020-11-01 15:41:24,2.82,101.50,80.60,88,20,1.12,light rain

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.77,broken clouds,3.07,172.79,
1,Vaini,TO,73.40,broken clouds,-21.20,-175.20,
3,San Andres,CO,80.60,light intensity drizzle,12.58,-81.70,
4,Santa Maria Da Vitoria,BR,86.50,overcast clouds,-13.39,-44.19,
5,Hilo,US,71.60,broken clouds,19.73,-155.09,
6,Matara,LK,78.48,clear sky,5.95,80.54,
12,Rikitea,PF,74.86,light rain,-23.12,-134.97,
14,Iquitos,PE,80.60,broken clouds,-3.75,-73.25,
15,Bac Lieu,VN,79.20,overcast clouds,9.29,105.72,
16,Kalmunai,LK,81.72,broken clouds,7.42,81.82,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng","Hotel Name"]].copy()
filter(str.strip, clean_hotel_df)

In [56]:
clean_hotel_df.dropna().count()

City                   848
Country                848
Max Temp               848
Current Description    848
Lat                    848
Lng                    848
Hotel Name             848
dtype: int64

In [57]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [76]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 21.0), zoom_level=2.5)

In [77]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))