In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mahebourg,MU,2020-10-31 17:34:14,-20.41,57.70,69.80,73,40,6.93
1,1,Qaanaaq,GL,2020-10-31 17:32:57,77.48,-69.36,10.22,85,95,7.25
2,2,Lagoa,PT,2020-10-31 17:34:21,39.05,-27.98,68.56,93,70,24.63
3,3,Tiksi,RU,2020-10-31 17:33:54,71.69,128.87,0.70,93,65,4.36
4,4,Komsomolskiy,UZ,2020-10-31 17:33:56,40.43,71.72,42.80,38,0,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#create a windspeet heatmap. 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kudahuvadhoo,MV,2020-10-31 17:36:17,2.67,72.89,83.32,71,40,5.21
6,6,Labuhan,ID,2020-10-31 17:36:39,-6.88,112.21,75.13,93,100,5.46
17,17,Bengkulu,ID,2020-10-31 17:33:47,-3.80,102.27,76.59,87,100,3.49
18,18,San Patricio,US,2020-10-31 17:34:24,28.02,-97.52,75.99,53,20,5.82
24,24,Georgetown,MY,2020-10-31 17:30:01,5.41,100.34,78.01,94,40,3.36
30,30,Kulhudhuffushi,MV,2020-10-31 17:36:41,6.62,73.07,83.43,69,99,6.22
31,31,Taoudenni,ML,2020-10-31 17:36:41,22.68,-3.98,84.07,14,100,7.83
32,32,Diffa,NE,2020-10-31 17:36:42,13.32,12.61,83.73,18,0,6.62
34,34,Butaritari,KI,2020-10-31 17:34:02,3.07,172.79,81.39,75,68,16.35
37,37,Adre,TD,2020-10-31 17:36:42,13.47,22.20,86.02,21,67,5.57

In [40]:
preferred_cities_df.count()

City_ID       181
City          181
Country       179
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [41]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [42]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kudahuvadhoo,MV,2020-10-31 17:36:17,2.67,72.89,83.32,71,40,5.21
6,6,Labuhan,ID,2020-10-31 17:36:39,-6.88,112.21,75.13,93,100,5.46
17,17,Bengkulu,ID,2020-10-31 17:33:47,-3.80,102.27,76.59,87,100,3.49
18,18,San Patricio,US,2020-10-31 17:34:24,28.02,-97.52,75.99,53,20,5.82
24,24,Georgetown,MY,2020-10-31 17:30:01,5.41,100.34,78.01,94,40,3.36
...,...,...,...,...,...,...,...,...,...,...
569,569,Trincomalee,LK,2020-10-31 17:37:54,8.57,81.23,81.28,72,88,4.68
572,572,Tutoia,BR,2020-10-31 17:37:54,-2.76,-42.27,85.60,68,26,15.23
573,573,Marawi,PH,2020-10-31 17:34:01,8.00,124.29,75.00,90,100,4.00
578,578,Satun,TH,2020-10-31 17:37:54,6.83,100.00,82.40,100,75,2.95
579,579,Kattivakkam,IN,2020-10-31 17:37:55,13.22,80.32,78.80,88,20,5.35

In [77]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
5     Kudahuvadhoo      MV     83.32   2.67   72.89
6          Labuhan      ID     75.13  -6.88  112.21
17        Bengkulu      ID     76.59  -3.80  102.27
18    San Patricio      US     75.99  28.02  -97.52
24      Georgetown      MY     78.01   5.41  100.34
30  Kulhudhuffushi      MV     83.43   6.62   73.07
31       Taoudenni      ML     84.07  22.68   -3.98
32           Diffa      NE     83.73  13.32   12.61
34      Butaritari      KI     81.39   3.07  172.79
37            Adre      TD     86.02  13.47   22.20

In [73]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [74]:
len(hotels["results"])

20

In [75]:
hotels["results"][0]["name"]

'Hôtel Duo'

In [102]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [103]:
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng            Hotel Name
5     Kudahuvadhoo      MV     83.32   2.67   72.89  Kudahuvadhoo Retreat
6          Labuhan      ID     75.13  -6.88  112.21          bador sepret
17        Bengkulu      ID     76.59  -3.80  102.27  Grage Hotel Bengkulu
18    San Patricio      US     75.99  28.02  -97.52    Motel 6 Sinton, TX
24      Georgetown      MY     78.01   5.41  100.34        Cititel Penang
30  Kulhudhuffushi      MV     83.43   6.62   73.07   Haajy Guest House 1
31       Taoudenni      ML     84.07  22.68   -3.98
32           Diffa      NE     83.73  13.32   12.61          ProDAF/Diffa
34      Butaritari      KI     81.39   3.07  172.79    Isles Sunset Lodge
37            Adre      TD     86.02  13.47   22.20

In [104]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [105]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [109]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [110]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))